<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://ramkumaryaragarla.github.io/worko/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href=href="https://ramkumaryaragarla.github.io/worko/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://ramkumaryaragarla.github.io/worko/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ramkry@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ramkumaryaragarla">github.com/ramkumaryaragarla</a></li>
				</ul>
			</footer>
		</body>
	</html>
